<h1>{{model.name}}</h1>
<img src="/img/{{model.image}}" alt="{{model.name}}">
<p>{{model.rating}}</p>
<p>{{model.description}}</p>
<p>
    {{#link-to 'item.nutrition'}}Nutrition{{/link-to}}
</p>

{{outlet}}